@media (max-width: 991px) {
    .layout-topbar .layout-topbar-menu .layout-topbar-button {
        color: #495057 !important;
    }

    .margin-form {
        padding-left: 0 !important;
    }
}

h5 {
    color: #525F7F;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    color: #525F7F;
}

.layout-menu li {
    .layout-menuitem-root-text {
        text-transform: uppercase;
        color: var(--surface-900);
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
}

.position-relative {
    position: relative;
}

//background forms
.card-background-form {
    background: #f7fafc;
}

.margin-form {
    padding-left: 3rem;
}

//input style
.p-inputtext {
    background: #ffffff;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 2%), 0px 1px 3px rgb(50 50 93 / 15%);
    border-radius: 6px;
    border: 1px solid #ffffff;
}

//Section title
.section-title-form {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #8898AA;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

//Label style
.field>label {
    letter-spacing: 0px;
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #525F7F;
}

.home-title {
    font-size: 18px !important;
    line-height: 113.18% !important;
    display: flex;
    align-items: center;
}

//Image box shadow
:host {
    ::ng-deep {
        p-image {
            .p-image-preview-container {
                img {
                    box-shadow: 0px 1px 10px rgb(0 0 0 / 12%),
                        0px 4px 5px rgb(0 0 0 / 14%), 0px 2px 4px -1px rgb(0 0 0 / 20%) !important;
                }
            }
        }
    }
}

//Chip Style
::ng-deep .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-button-extra-action {
    color: #ffffff;
    background: #1a5e81;
    border: 1px solid #1a5e81;

    &:hover {
        background: #0f2d3c;
        border-color: #0f2d3c;
    }
}

//Seccion title
.section-title {
    font-family: var(font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #525f7f;
}

//Scroll Style
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    display: none;
}

:hover {
    &::-webkit-scrollbar-thumb {
        display: block;
        background-color: #868686;
    }
}

::-webkit-scrollbar-thumb {
    background: #868686;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0 1px 2px #868686;
}

::-webkit-scrollbar-corner {
    display: none;
}

//FIELDSET
.p-fieldset {
    margin-bottom: 1rem;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
    border-radius: 35px;
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    background: #525F7F;
    border-radius: 35px;
    padding: 5px 20px;
    color: #ffff;
    font-size: 12px;
    font-weight: 400;
}

//AVATAR
.p-avatar.p-avatar-xl {
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
}

.status-badge {
    border-radius: 30px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.3px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.status-active {
    background-color: #c8e6c9;
    color: #256029;
}

.status-pending {
    background-color: #ffd8b2;
    color: #805b36;
}

.status-inactive {
    background-color: #ffcdd2;
    color: #c63737;
}