@import "../../../assets/sass/overrides/_overrides";

:host {
    .layout-menu {
        li {
            a {
                ::ng-deep span {
                    margin-left: 0;
                }
            }
        }
    }

    .icon {
        padding: 0 10px;

        ::ng-deep svg {
            path {
                fill: var(--text-color);
            }
        }
    }

    .router-link-exact-active {
        font-weight: 100;

        .icon {
            ::ng-deep svg {
                path {
                    fill: var(--primary-color)!important;
                }
            }
        }
    }
}